In [2]:
# Подключаем библиотеки
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import tabula as tb
from scipy import stats
plt.rcParams['figure.figsize']=(10,5)

In [3]:
all_tasks = tb.read_pdf("tasks/Практика 30 ноября 2021.pdf", pages="all")

Got stderr: Dec 28, 2021 9:23:59 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
Dec 28, 2021 9:23:59 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
Dec 28, 2021 9:24:00 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
Dec 28, 2021 9:24:00 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
Dec 28, 2021 9:24:01 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
Dec 28, 2021 9:24:01 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'

# ЗАДАЧА_1
Проводилось исследование, в рамках которого ставилась задача 
проанализировать,  как  меняются  выпускники  школ  со  временем. 
Сравнивались выпускники московских школ за последние годы. В частности, 
исследовался вопрос,  насколько  группы  выпускников каждого  года 
однородны по уровню успеваемости.
Можно ли утверждать, что степень однородности  соответствующих групп 
выпускников одинакова

In [4]:
task_1 = all_tasks[0]
task_1.columns = ["year", "marks"]

In [5]:
int_marks_2015 = list(map(int, task_1["marks"].str.split(", ")[0]))
int_marks_2016 = list(map(int, task_1["marks"].str.split(", ")[1]))

In [6]:
int_marks_2015 = np.array(int_marks_2015)
int_marks_2016 = np.array(int_marks_2016)

In [7]:
print(f"Выпуск 2015: {int_marks_2015.std()}")
print(f"Выпуск 2016: {int_marks_2016.std()}")

Выпуск 2015: 17.912547976209304
Выпуск 2016: 19.3013784449853

Вторая

In [8]:
task_2 = all_tasks[1]
task_2

  Unnamed: 0     Школа 1 Unnamed: 1     Школа 2
0        NaN      Кол-во        NaN      Кол-во
1        Год         NaN        Год         NaN
2        NaN  выигр.сор.        NaN  выигр.сор.
3       2011          10       2011           5
4       2012           8       2012           4
5       2013          12       2013           7
6       2014           7       2014           6
7       2015           9       2015          10
8       2016          11       2016           9

In [16]:
school1 = task_2.iloc[3:9]["Школа 1"].apply(int).std()
school2 = task_2.iloc[3:9]["Школа 2"].apply(int).std()

In [17]:
print(f"Школа 1: {school1}")
print(f"Школа 2: {school2}")

Школа 1: 1.8708286933869707
Школа 2: 2.316606713852541

Третья

In [19]:
task_3 = all_tasks[2]
task_3

  Предполагаемый уровень способностей                          Оценки
0                   Средний и высокий  89, 75, 60, 91, 77, 82, 71, 68
1                       Очень высокий      87, 35, 96, 41, 89, 30, 97

In [27]:
high_and_mid = np.array(list(map(int, task_3.iloc[0]["Оценки"].split(", ")))).std()
high_only = np.array(list(map(int, task_3.iloc[1]["Оценки"].split(", ")))).std()

In [28]:
print(f"Высокие и средние: {high_and_mid}")
print(f"Высокие: {high_only}")

Высокие и средние: 9.835363490995135
Высокие: 28.507786261844682

In [29]:
np.array(list(map(int, task_3.iloc[1]["Оценки"].split(", "))))

array([87, 35, 96, 41, 89, 30, 97])